@font-face {
  font-family: "Proxima Nova Reg";
  src: local('Timew New Roman'), url("../fonts/ProximaNova-Reg.otf") format("opentype");
}

.f-style {
  font-family: "Proxima Nova Reg";
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
}

//rightside-content
.wrapper-rightside {
  position: relative;
  width: 40%;
}

.rightside-img {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-right.png") no-repeat;
  background-size: 100% 100%;
}

.woman-img {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 1;
  width: 35%;
  height: 100vh;
  background: url("../img/woman1.png") no-repeat;
  background-size: 100% 100%;
}

//leftside-content
.leftside-content-wrapper {
  max-width: 650px;
}

.logo {
  margin: 7% 0 10%;
  width: 129px;
  height: 148px;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
}

//heading
.heading {
  font-size: 25px;
  letter-spacing: 2px;
  color: #000000;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase
}
.heading::before,
.heading::after {
  content: "\2014";
  font-size: 35px;
  color: #c32429;
  font-weight: 400;
}
.main-heading-wrapper {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.main-heading {
  min-height: 70px;
  max-width: 600px;
  padding-bottom: 25px;
  border-bottom: 2px solid lightgray;
  background: url("../img/line.png") no-repeat;
  background-size: contain;
}
.line-down {
  display: block;
  margin: -5px auto;
  width: 100px;
  height: 4px;
  background: url("../img/line-down.png");
  background-size: contain;
}
.description {
  margin: 20px 0;
  background: url("../img/checked.png") no-repeat 15px 15px;
  .text {
    padding: 15px 5px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: #090947;
  }
  .text b {
    font-weight: 900;
  }
}

// btn
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  padding: 5px;
  .btn {
    outline: none;
    padding: 10px 0;
    width: 270px;
    border: 1px solid #e78c00;
    border-radius: 50px;
    background: linear-gradient(to bottom, #fad35b 50%, #d6a510);
    box-shadow: 2px 5px 25px 0 #cb9c0f;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    &:hover {
      transform: scale(1.01);
      transition: 0.1s linear;
      cursor: pointer;
    }
  }
}

//enter-link
.enter-link {
  margin: 70px auto;
  display: block;
  width: 100px;
  &:hover {
    transform: scale(1.1);
    transition: 0.4s linear;
  }
}
.arrows-img {
  width: 80px;
  height: 80px;
  background: url("../img/arrows.png") no-repeat center;
  background-size: contain;
}
.text-link {
  margin: 15px auto;
  color: #7c7c7c;
}
//small screen
.small-img {
  display: none;
  margin: 0 auto;
  width: 240px;
  height: 300px;
  background: url("../img/small-img.png") no-repeat 30px 0;
  background-size: contain;
}

//RESIZING


//-------------1370---------
@media (max-width: 1370px) {

  .logo {
    margin: 5% 5% 3%;
    width: 110px;
    height: 120px;
  }
  .heading {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .main-heading {
    font-size: 75px;
  }
  .description {
    margin: 10px 0;
    background: url("../img/checked.png") no-repeat 40px 7px;
    .text {
      padding: 10px 5px;
      font-size: 25px;
    }
  }
  .btn-wrapper {
    margin: 25px auto;
    .btn + .btn {
      margin-left: 5px;
    }
  }
  .enter-link {
    margin: 50px auto 0;
  }
}
//-------------1240---------
@media (max-width: 1240px) {
  .wrapper {
    background: url("../img/bg-white.png") no-repeat;
    background-size: cover;
    transition: 1s;
  }
  .rightside-img {
    opacity: 0;
    transition: opacity 1.2s;
    height: 0;
  }
  .leftside-content-wrapper {
    margin: 0 auto;
  }
}
//-------------950---------
@media (max-width: 950px) {
  .wrapper {
    background: url("../img/bg-white.png") no-repeat;
    background-size: cover;
    transition: 1s;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
  }
  .leftside-content-wrapper {
    width: 100%;
  }
  .wrapper-rightside {
    opacity: 0;
    transition: 1s;
  }
  .logo {
    margin: 1% auto;
  }
  .small-img {
    display: block;
  }
}
//-------------640---------
@media (max-width: 640px) {
  .wrapper-rightside {
    display: none;
  }
  .logo {
    width: 100px;
    height: 120px;
    margin: 5% auto;
  }

  .heading {
    font-size: 20px;
  }
  .heading::before,
  .heading::after {
    content: "";
  }
  .main-heading {
    padding-bottom: 5px;
  }
  .main-heading {
    font-size: 35px;
  }
  .description {
    background: none;
    .text {
      padding: 15px 0;
      font-size: 20px;
    }
  }
  .btn-wrapper {
    flex-direction: column;
    align-items: center;
    .btn {
      margin-bottom: 10px;
      width: 230px;
      font-size: 13px;
    }
  }
}
//-------------400---------
@media (max-width: 400px) {
  .enter-link {
    margin: 20px auto;
  }
}















